*{
    margin: 0;
    padding: 0;
    border-box;
}
body{
    width:100vw;
    height:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
#canvas1{
    background-image:'.2nd milestone/style sndimg/skybackgroundgrren.png ';
    width:800px;
    height:500px;
    border:2px black;
}
button{
    position:absolute;
    button:15px;
    left:50%;
    transform:translate(-50%, 0);
    background:grey
    color: black;
    padding: 25px, 50px;
    border-radius: 5px;
    z index:200;
    cursor:pointer;
    border:none;
    outline:none;
    
}
